{% extends "index.html" %}

<!-- Set custom tab title-->
{% block title%} {{ tab_title }} {% endblock %}

<!-- Insert page content-->
{% block content %}

<div class="subpage-content">

    <h1>Former Quantum Mechanic, current Machine Learner</h1>

    <p>As a trained theoretical physicist, my background is in academia. Now, my sights are set on the frontiers of industry and technology where I aim to make an impact on the real world at the cutting edge of machine learning and artificial intelligence applications. Towards this goal, I have been enthusiastically teaching myself the tools needed to become a practicioner in this field.</p>

    <h2>Formal Education</h2>

    <ul>
        <li>Doctor of Philosophy, Physics, <em> Ohio State University</em></li>
        <li>Master of Science, Physics, <em> Ohio State University</em></li>
        <li>Bachelor of Science, Physics & Mathematics, <em> Temple University</em></li>
    </ul>

</div>













{% endblock %}